bitarray>=2.8.3
cffi>=1.16.0
contourpy>=1.1.1
cryptography>=41.0.6
cycler>=0.12.1
fonttools>=4.44.3
importlib-resources>=6.1.1
kiwisolver>=1.4.5
matplotlib>=3.7.4
mmh3>=4.0.1
numpy>=1.24.4
packaging>=23.2
Pillow>=10.1.0
pycparser>=2.21
Pympler>=1.0.1
pyparsing>=3.1.1
python-dateutil>=2.8.2
six>=1.16.0
zipp>=3.17.0
pytest>=7.0.0